<form class="max-w-md mx-auto pt-10 px-3">
  <!-- <div class="relative mb-4">
    <label for="input_a" class="label"> 商品名稱 </label>
    <input
      type="text"
      placeholder="Search for a street"
      [matAutocomplete]="auto"
      class="input"
    />
    <mat-autocomplete #auto="matAutocomplete">

    </mat-autocomplete>
  </div> -->
  <div class="relative mb-4">
    <label for="input_a" class="label"> 商品分類 </label>
    <input type="text" name="input_a" class="input" placeholder="" />
  </div>
  <div class="relative mb-4">
    <label for="input_a" class="label"> 產地標示 </label>
    <input type="text" name="input_a" class="input" placeholder="" />
  </div>
  <app-autocomplete
    label="顏色"
    [options]="colorOptions()"
    (updateOptions)="colorOptions.set($event)"
  ></app-autocomplete>
  <app-autocomplete
    label="尺寸"
    [options]="sizeOptions()"
    (updateOptions)="sizeOptions.set($event)"
  ></app-autocomplete>
  <div class="relative mb-4">
    <label for="input_a" class="label"> 備註 </label>
    <input type="text" name="input_a" class="input" placeholder="" />
  </div>
  <div class="relative mb-4">
    <label for="input_a" class="label"> 內容 </label>
    <input type="text" name="input_a" class="input" placeholder="" />
  </div>
  <div class="relative mb-4">
    <label for="input_a" class="label"> 尺寸表 </label>
    <input type="text" name="input_a" class="input" placeholder="" />
  </div>

  <div class="relative mb-4">
    <label for="input_a" class="label"> 供應商名稱 </label>
    <input type="text" name="input_a" class="input" placeholder="" />
  </div>

  <div class="relative mb-4">
    <label for="input_a" class="label"> 韓元進價 </label>
    <input type="text" name="input_a" class="input" placeholder="" />
  </div>
  <div class="relative mb-4">
    <label for="input_a" class="label"> 匯率 </label>
    <input type="text" name="input_a" class="input" placeholder="" />
  </div>
  <div class="relative mb-4">
    <label for="input_a" class="label"> 台幣進價 </label>
    <input type="text" name="input_a" class="input" placeholder="" />
  </div>
  <div class="relative mb-4">
    <label for="input_a" class="label"> 原價 </label>
    <input type="text" name="input_a" class="input" placeholder="" />
  </div>
  <div class="relative mb-4">
    <label for="input_a" class="label"> 售價 </label>
    <input type="text" name="input_a" class="input" placeholder="" />
  </div>
  <button
    type="submit"
    class="text-white bg-blue-700 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-cente mb-5"
  >
    Submit
  </button>
</form>
